# 站点信息
VITE_SITE_NAME = "“💕Assiw-免费资源-兼职赚米-有手就行💕”" # 名称
VITE_SITE_AUTHOR = "我们不生产资源-我们只是资源的搬运工" # 作者
VITE_SITE_KEYWORDS = "ASSIW团队,兼职项目,项目开发,Steam单机游戏免费下载,手机游戏资源,论文查重与降重,影视资源,软件工具下载,Windows系统安装,安卓破解软件,漫画书籍资源,音乐下载与试听,办公工具大全,英语学习资源,百度文库下载工具,考证资料下载,思维导图模板,信息可视化工具,知识分享平台,PPT模板制作,兼职合作项目,Telegram下载与使用,USDT兑换教程,黑U承兑,交易所教程,数字货币交易所下载,网站搭建指南,服务器配置教程,邮箱购买服务,QQ账号交易,微信账号买卖,线上兼职项目,广告推广,OpenAI订阅,ChatGPT代开服务,ChatGPT Plus订阅,数字货币交易所操作指南,兼职赚钱论坛" # 关键词
VITE_SITE_DES = "ASSIW团队,兼职项目,项目开发,Steam单机游戏免费下载,手机游戏资源,论文查重与降重,影视资源,软件工具下载,Windows系统安装,安卓破解软件,漫画书籍资源,音乐下载与试听,办公工具大全,英语学习资源,百度文库下载工具,考证资料下载,思维导图模板,信息可视化工具,知识分享平台,PPT模板制作,兼职合作项目,Telegram下载与使用,USDT兑换教程,黑U承兑,交易所教程,数字货币交易所下载,网站搭建指南,服务器配置教程,邮箱购买服务,QQ账号交易,微信账号买卖,线上兼职项目,广告推广,OpenAI订阅,ChatGPT代开服务,ChatGPT Plus订阅,数字货币交易所操作指南,兼职赚钱论坛" # 站点简介
VITE_SITE_URL = "assiw.xyz" # 站点地址
VITE_SITE_LOGO = "/images/icon/favicon.ico" # 站点主图标
VITE_SITE_MAIN_LOGO = "/images/icon/logo.png" # 主页图标
VITE_SITE_APPLE_LOGO = "/images/logo/apple-touch-icon.png" # Apple 端图标

# 简介文本
VITE_DESC_HELLO = "Hello World !"
VITE_DESC_TEXT = "防失联,请联系Telegram或QQ"
VITE_DESC_HELLO_OTHER = "Oops !"
VITE_DESC_TEXT_OTHER = "哎呀，这都被你发现了（ 再点击一次可关闭 ）"

# 社交链接
## 请在 src/assets/socialLinks.json 文件中配置

# 网站链接
## 请在 src/assets/siteLinks.json 文件中配置
## 网站链接的图标名称可前往 https://www.xicons.org 自行挑选并在 src/components/Links/index.vue 中引入

# 天气 Key
## 请前往 高德开放平台注册 Web服务 Key
## 请注意不是 Web端 (JS API)，免费申请，每日上限 5000 次
## 此处提供的服务可能会超量从而无法访问，请自行申请！请自行申请！请自行申请！
## 若此处设为空则调用 教书先生 API https://api.oioweb.cn/doc/weather/GetWeather
VITE_WEATHER_KEY = ""

# 建站日期
## 若不需要，请设为空即可
## 请按照 YYYY-MM-DD 格式填写或者仅填写年份 YYYY
VITE_SITE_START = "2020-10-24"

# ICP 备案号
## 若不需要，请设为空即可
VITE_SITE_ICP = "页面投稿请联系Telegram或者QQ"

# 歌曲 API 地址
## 请参照 https://github.com/xizeyoupan/Meting-API#deno-deploy 进行 API 服务部署
## 此处提供的服务可能会超量从而无法访问，请自行部署
## 若使用 QQ 音乐歌单，歌曲数量最好不要超出 50 首
## 备用：https://api.wuenci.com/meting/api/
# https://api-meting.imsyy.top/api
VITE_SONG_API = "https://api.wuenci.com/meting/api"
# 歌曲服务器 ( netease-网易云, tencent-qq音乐 )
VITE_SONG_SERVER = "netease"
# 播放类型 ( song-歌曲, playlist-播放列表, album-专辑, search-搜索, artist-艺术家 )
VITE_SONG_TYPE = "playlist"
# 播放 ID ( 若无需播放器，请设为空即可 )
VITE_SONG_ID = "2619366284"